@import "~bootstrap-icons/font/bootstrap-icons.css";
 

h1 {
  color: rgb(0, 0, 0);
}

.App {
  display: grid;
  place-items: center;
}

button {
  width: 70px;
  border: none;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  background: white

}
p{
  font-size: 40px;
}
.card{
  height: 200px; /* 100% del viewport height */
  text-align: center;
  border-radius: 30px;
  backdrop-filter: blur(30px) brightness(80%); /* Aplica un filtro de desenfoque y ajusta el brillo */
  border: 1px solid rgba(71, 66, 66, 0.5);
}
.group{
  display: flex;
 justify-content: center;
}
.btn{
  margin: 10px;
}
.response{
  
  background-color: rgba(3, 3, 3, 0.63);
}